@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* Modifications by Nicholas and Carlo NIGHT TEST
.draw-button, .repo-button, .about-button, h2.svelte-18zfup0, h2.svelte-15yvine, h2.svelte-142uptq {
	margin-top: 50px !important;
}

.draw-button, .repo-button, .pallette-button {
	margin-left: 40px !important;
}

.about-button, .finished-drawing-button {
	margin-right: 40px !important;
}

.pallette-button, .finished-drawing-button, .redo-button {
	bottom: 30px !important;
}

 END OF Modifications by Nicholas and Carlo */


:root {
	--fontsize24px: 24px;
}

html,
body {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
		'Helvetica Neue', sans-serif;
}

a {
	color: rgb(0, 100, 200);
	text-decoration: none;
}

a.buttonLink {
	width: 100%;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0, 80, 160);
}

label {
	display: block;
}

input,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
}

input:disabled {
	color: #ccc;
}

button {
	height: auto;
	padding: 10px;
	outline: 1px solid white;
	color: white;
	background: rgba(255, 255, 255, 0.25);
	border-style: none;
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: var(--fontsize24px);
	line-height: 28px;
}
button a, button a:visited, button a:hover {
	color: white;
	text-decoration: none;
}

.button-section {
	display: flex;
	justify-content: space-between;
	height: 76px;
	width: 100%;
	gap: 10px;
}
.button-section button {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
}

p {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: var(--fontsize24px);
	line-height: 28px;
}

button:hover {
	background: rgba(0, 0, 0, 0.25);
}

h2 {
	font-style: normal;
	font-weight: bold;
	font-size: var(--fontsize24px); /*32px;*/
	line-height: 38px;
	letter-spacing: 0.02em;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

.modal-center {
	overflow: hidden;
	background: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(26px);
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-family: 'Raleway', sans-serif;
	max-width: 600px;
	min-width: 300px;
}

.modal-info {
	outline: 1px solid white;
	overflow: hidden;
	background: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(26px);
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-family: 'Raleway', sans-serif;
	padding: 10px;
	gap: 10px;
	width: 50%;
	min-width: 450px;
	max-width: 690px;
}

.modal-info > h2,
p {
	margin: 0px;
}

#text {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: var(--fontsize24px);;
	line-height: 28px;
}

.modal-container {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.75);
}

.modal-center .desc-text {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}

.icon-button {
	width: 64px;
	height: 64px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 64px;
	position: absolute;
	cursor: pointer;
	margin: 10px;
}

.flex-row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 10px;
}

.about-button {
	top: 0px;
	right: 0px;
	background-image: url('/button_about.svg');
	position: fixed;
}

/*GALLERY*/
.gallery {
	background: linear-gradient(0deg, #ffffff 0%, #0094ff 100%);
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	overflow-y: scroll;
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gallery .bigImageGallery {
	grid-area: auto / auto / span 2 / span 2;
}
.flex-container {
	display: flex;
	flex-direction: column;
	gap: 0px;
}

.gallery-item {
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
}

.gallery-item .image {
	display: block; /*grid*/
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.gallery-item .image img {
	width: 100%;
	height: 100%;
	object-fit: cover; /*fill*/
}

/*BUTTONS*/
.unusableButton {
	opacity: .5;
	pointer-events: none;
}
.about-button {
	background-image: url('/button_about.svg');
	background-size: 64px 64px;
}
.about-button:hover {
	background-image: url('/button_about_hover.svg');
	background-size: 64px 64px;
}
.repo-button {
	top: 0px;
	left: 0px;
	background-image: url('/button_repository.svg');
	background-size: 64px 64px;
	position: fixed;
	z-index: 10000;
}
.repo-button:hover {
	background-image: url('/button_repository_hover.svg');
	background-size: 64px 64px;
}
.finished-drawing-button {
	bottom: 0px;
	right: 0px;
	background-image: url('/button_finish.svg');
	background-size: 64px 64px;
	position: fixed;
}
.finished-drawing-button:hover {
	background-image: url('/button_finish_hover.svg');
	background-size: 64px 64px;
}
.redo-button {
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	background-image: url('/button_reset.svg');
	background-size: 64px 64px;
	position: fixed;
}
.redo-button:hover {
	background-image: url('/button_reset_hover.svg');
	background-size: 64px 64px;
}
.pallette-button {
	bottom: 0px;
	left: 0px;
	background-image: url('/button_palette.svg');
	background-size: 64px 64px;
	position: fixed;
}
.pallette-button:hover {
	background-image: url('/button_palette_hover.svg');
	background-size: 64px 64px;
}

@media (max-width: 650px) {
	button {
		color: white;
		background: rgba(255, 255, 255, 0.25);
		/*outline: none;*/
		border-style: none;
		cursor: pointer;
		height: 48px;
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
		font-size: 16px;
		line-height: 18px;
	}
	.icon-button {
		width: 48px;
		height: 48px;
		margin: 5px;
		background-size: 48px;
	}
	.overlay-button {
		width: 48px;
		height: 48px;
		background-size: 48px;
		margin: 5px;
	}

	/*BUTTONS*/
	.about-button {
		width: 48px;
		height: 48px;
		background-size: 48px;
	}
	.about-button:hover {
		background-size: 48px;
	}
	.repo-button {
		width: 48px;
		height: 48px;
		background-size: 48px;
	}
	.repo-button:hover {
		background-size: 48px;
	}
	.finished-drawing-button {
		width: 48px;
		height: 48px;
		background-size: 48px;
	}
	.finished-drawing-button:hover {
		background-size: 48px;
	}
	.redo-button {
		width: 48px;
		height: 48px;
		background-size: 48px;
	}
	.redo-button:hover {
		background-size: 48px;
	}
	.pallette-button {
		width: 48px;
		height: 48px;
		background-size: 48px;
	}
	.pallette-button:hover {
		background-size: 48px;
	}

	h2 {
		font-size: 18px;
		line-height: 20px;
	}
	p {
		font-size: 16px;
		line-height: 18px;
	}
	#title {
		font-size: 18px;
		line-height: 20px;
	}
	#text {
		font-size: 16px;
		line-height: 18px;
	}
	.modal-info {
		gap: 10px;
		width: 80%;
		min-width: unset;
	}
}

@media (max-height: 650px) {
	button {
		color: white;
		background: rgba(255, 255, 255, 0.25);
		/*outline: none;*/
		border-style: none;
		cursor: pointer;
		height: 48px;
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
		font-size: 16px;
		line-height: 18px;
	}
	.icon-button {
		width: 48px;
		height: 48px;
		margin: 5px;
		background-size: 48px;
	}
	.overlay-button {
		width: 48px;
		height: 48px;
		background-size: 48px;
		margin: 5px;
	}

	/*BUTTONS*/
	.about-button {
		width: 48px;
		height: 48px;
		background-size: 48px;
	}
	.about-button:hover {
		background-size: 48px;
	}
	.repo-button {
		width: 48px;
		height: 48px;
		background-size: 48px;
	}
	.repo-button:hover {
		background-size: 48px;
	}
	.finished-drawing-button {
		width: 48px;
		height: 48px;
		background-size: 48px;
	}
	.finished-drawing-button:hover {
		background-size: 48px;
	}
	.redo-button {
		width: 48px;
		height: 48px;
		background-size: 48px;
	}
	.redo-button:hover {
		background-size: 48px;
	}
	.pallette-button {
		width: 48px;
		height: 48px;
		background-size: 48px;
	}
	.pallette-button:hover {
		background-size: 48px;
	}

	#title {
		font-size: 18px;
		line-height: 20px;
	}
	.modal-info {
		gap: 5px;
		min-width: unset;
	}
	#title {
		font-size: 18px;
		line-height: 20px;
	}

	#text {
		font-size: 16px;
		line-height: 18px;
	}

	h2 {
		font-size: 18px;
		line-height: 20px;
	}
	p {
		font-size: 16px;
		line-height: 18px;
	}
	.start-draw-center {
		width: 80%;
	}
}






